<div>
    <div class="card-container">
        <div class="card card-small" tabindex="0" (click)="startSimulation()">
            <span class="material-icons">play_arrow</span>
            <span class="button-text">Start Simulation</span>
        </div>
    </div>
    
    <div class="card-container">
        <div class="card card-small" tabindex="0" (click)="autoSimulation()">
            <span class="material-icons">fast_forward</span>
            <span class="button-text">Auto Simultaion</span>
        </div>
    </div>

    <div class="card-container">
        <a class="square-link" matTooltip="Previous" matTooltipPosition="above" (click)="previousStep()">
            <span class="material-icons net-elements-icons" >fast_rewind</span>
        </a>

        <a class="square-link" matTooltip="Run random active transition" matTooltipPosition="above" (click)="nextStep()">
            <span class="material-icons net-elements-icons token-icon">play_arrow</span>
        </a>

        <a class="square-link" matTooltip="Previous" matTooltipPosition="above" (click)="stopSimulation()">
            <span class="material-icons net-elements-icons" disabled>stop</span>
        </a>

        <a class="square-link" matTooltip="Reset Simulation" matTooltipPosition="above" (click)="resetSimulation()">
            <span class="material-icons net-elements-icons token-icon">replay</span>
        </a>
    </div>  

    <div class="signalPanel">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="material-icons">
                        input
                    </span>
                    Input signals
                </mat-panel-title>

                </mat-expansion-panel-header>
                <div style="text-align:center">
                    <table style="margin: 0 auto;">
                        <tr>
                        <th *ngFor="let inputSignal of netRepository.signalRepository.inputSignals">
                            x{{inputSignal}}
                        </th>
                        </tr>
                        <tr>
                        <td *ngFor="let inputSignal of netRepository.signalRepository.inputSignals">
                            <input type="checkbox" class="active-input-signal" id="active-input-signal-{{inputSignal}}"/>
                        </td>
                        </tr>
                    </table>
                    <button mat-raised-button color="primary" (click)="updateActiveInputSignals()">Update</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>  
    </div>
    
</div>