<div>    
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">library_books</span>
        <span class="button-text">Example Nets</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">edit</span>
        <span class="button-text">Create from Matrix</span>
      </div>
    </div>


    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">remove_red_eye</span> 
        <span class="button-text">Show Net Matrix</span>
      </div> 
    </div>



    <div class="card-container">
      <a class="square-link" matTooltip="Create Place" matTooltipPosition="above" (click)="addPlaceEvent()">
        <span class="material-icons net-elements-icons">panorama_fish_eye</span>
      </a>

      <a class="square-link" matTooltip="Create Transition" matTooltipPosition="above" (click)="addTransitionEvent()">
        <span class="net-elements-icons transition-icon">
        </span>
      </a>

      <a class="square-link" matTooltip="Create Arc" matTooltipPosition="above" (click)="addArcEvent()">
        <span class="material-icons net-elements-icons" >north_east</span>
      </a>
    </div>

    <div class="card-container">
      <a class="square-link" matTooltip="Add Token" matTooltipPosition="above" (click)="addTokenEvent()">
        <span class="material-icons net-elements-icons token-icon">brightness_1</span>
      </a>

      <a class="square-link" matTooltip="Delete Element" matTooltipPosition="above" (click)="deleteElementEvent()">
        <span class="material-icons net-elements-icons">delete</span>
      </a>
      <a class="square-link" matTooltip="Default Cursor" matTooltipPosition="above" (click)="defaultCursorEvent()">
        <span id='default-cursor-icon'></span>  
      </a>
    </div>  

    <div class="card-container">
      <div class="card card-small" tabindex="0" (click)="justifyElementsEvent()">
        <span class="material-icons">format_align_justify</span> 
        <span class="button-text">Justify Elements</span>
      </div>
    </div>
  </div>