<div>    
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">library_books</span>
        <span class="button-text">Saved Nets</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">edit</span>
        <span class="button-text">Create from Matrix</span>
      </div>
    </div>


    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">remove_red_eye</span> 
        <span class="button-text">Show Net Matrix</span>
      </div> 
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">transform</span> 
        <span class="button-text">Minimize Net</span>
      </div>
    </div>

    <div class="card-container">
      <a class="square-link" title="Create Place" (click)="addPlace()">
        <span class="material-icons net-elements-icons">panorama_fish_eye</span>
      </a>

      <a class="square-link" title="Create Trainsition" (click)="addTransition()">
        <span class="net-elements-icons transition-icon">
        </span>
      </a>
          
      <a class="square-link" title="Create Arc" (click)="addArc()">
        <span class="material-icons net-elements-icons">north_east</span>
      </a>
    </div>  
  </div>