<div>    
    <div class="card-container">
      <a class="square-link" matTooltip="Create Place" matTooltipPosition="above" (click)="addPlace()">
        <span class="material-icons net-elements-icons">panorama_fish_eye</span>
      </a>

      <a class="square-link" matTooltip="Create Transition" matTooltipPosition="above" (click)="addTransition()">
        <span class="net-elements-icons transition-icon">
        </span>
      </a>

      <a class="square-link" matTooltip="Create Arc" matTooltipPosition="above" (click)="addArc()">
        <span class="material-icons net-elements-icons" >north_east</span>
      </a>
    </div>

    <div class="card-container">
      <a class="square-link" matTooltip="Add Token" matTooltipPosition="above" (click)="addToken()">
        <span class="material-icons net-elements-icons token-icon">brightness_1</span>
      </a>

      <a class="square-link" matTooltip="Delete Element" matTooltipPosition="above" (click)="deleteElement()">
        <span class="material-icons net-elements-icons">delete</span>
      </a>
      <a class="square-link" matTooltip="Default Cursor" matTooltipPosition="above" (click)="defaultCursor()">
        <span id='default-cursor-icon'></span>  
      </a>
    </div>  

    <div class="card-container">
      <div class="card card-small" tabindex="0" (click)="justifyElements()">
        <span class="material-icons">format_align_justify</span> 
        <span class="button-text">Justify Elements</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0" (click)="openExampleNetsDialog()">
        <span class="material-icons">library_books</span>
        <span class="button-text">Example Nets</span>
      </div>
    </div>
  </div>