<h2 mat-dialog-title>Example nets</h2>
<mat-dialog-content>
  <div>
    <button mat-stroked-button (click)=drawFirstExampleNet()>One</button>
    <a>First example Net</a>
  </div>
  <div>
    <button mat-stroked-button>Not implemented</button>
    <a>Second example Net</a>
  </div>
  <div>
    <button mat-stroked-button>Not implemented</button>
    <a>Third example Net</a>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-raised-button color="basic" (click)="close()">Close</button>
  </mat-dialog-actions>
</mat-dialog-actions>