<h2 mat-dialog-title id="exampleNetDialogTitle">Example nets</h2>
<mat-dialog-content>
  <div>
    <button mat-stroked-button id="exampleNet-1" (click)=drawFirstExampleNet()>Net One</button>
    <a>Straight net without subnets</a>
  </div>
  <div>
    <button mat-stroked-button id="exampleNet-2" (click)=drawFirstExampleNetWithSignals()>Net Two</button>
    <a>Straight net without subnets with signals</a>
  </div>
  <div>
    <button mat-stroked-button id="exampleNet-3" (click)=drawSecondExampleNet()>Net Three</button>
    <a>Net with 2 simple subnets</a>
  </div>
  <div>
    <button mat-stroked-button (click)=drawSecondExampleNetWithSignals()>Net Four</button>
    <a>Net with 2 simple subnets and input signals</a>
  </div>
  <div>
    <button mat-stroked-button (click)=drawThirdExampleNet()>Net Five</button>
    <a>Larger net with subnets and blind routes</a>
  </div>
  <div>
    <button mat-stroked-button (click)=drawFourthNet()>Net Six</button>
    <a>Net with 3 subnets</a>
  </div>
  <div>
    <button mat-stroked-button (click)=drawFifthNet()>Net Seven</button>
    <a>Net with 2 subnets, where one is lareger</a>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-dialog-actions>
</mat-dialog-actions>