<div id="content">
  <div id="sidebar">
    <mat-horizontal-stepper id="stepper">
      <mat-step></mat-step>
      <mat-step></mat-step>
      <mat-step></mat-step>
    </mat-horizontal-stepper>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">library_books</span>
        <span class="button-text">Saved Nets</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">edit</span>
        <span class="button-text">Create from Matrix</span>
      </div>
    </div>


    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">remove_red_eye</span> 
        <span class="button-text">Show Net Matrix</span>
      </div> 
    </div>

    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <span class="material-icons">transform</span> 
        <span class="button-text">Minimize Net</span>
      </div>
    </div>

    <div class="card-container">
      <a class="square-link" title="Create Place" (click)="addPlace()">
        <span class="material-icons net-elements-icons">panorama_fish_eye</span>
      </a>

      <a class="square-link" title="Create Trainsition" (click)="addTransition()">
        <span class="net-elements-icons transition-icon">
        </span>
      </a>
          
      <a class="square-link" title="Create Arc" (click)="addArc()">
        <span class="material-icons net-elements-icons">north_east</span>
      </a>
    </div>  
  </div>


  <div id="board">
    <div id="board-header">
      <!-- <div>
        <span class="material-icons board-button" (click)="undo()">undo</span>
      </div> -->

      <div>
        <span class="material-icons board-button" (click)="createPdf()">picture_as_pdf</span>
      </div>

      <div>
        <span class="material-icons board-button" (click)="saveNet()">save_alt</span>
      </div>

      <div>
        <span class="material-icons board-button" (click)="openClearBoardDialog()">close</span>
      </div>
      
    </div>

    <svg id="svg-board">
      <defs>
        <marker id="arrow" viewBox="0 0 10 10"
        refX="1" refY="5" 
        markerUnits="strokeWidth"
        markerWidth="10" markerHeight="10"
        orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="black"/>
        </marker>
      </defs>
    </svg>

  </div>
</div>


