.mat-dialog-actions {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.mat-dialog-content {
    min-width: 400px;
    min-height: 100px;
}

::ng-deep .mat-dialog-container {
    overflow-y: hidden !important;
}

.mat-dialog-content div {
    margin: 10px;
    padding: 10px;
}

button {
    margin-right: 10px;
}