<h2 mat-dialog-title>Output Signals Creator</h2>
<mat-dialog-content>
  <button mat-mini-fab color="primary" (click)="addSignal()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab color="basic" (click)="removeSignal()">
    <mat-icon>remove</mat-icon>
  </button>
  <div>
    <table>
      <tr>
        <th *ngFor="let outputSignal of signalRepository.outputSignals">
          x{{outputSignal}}
        </th>
      </tr>
      <tr>
        <td *ngFor="let outputSignal of signalRepository.outputSignals">
          <input type="checkbox" class="signal" id="signal-{{outputSignal}}"/>
        </td>
      </tr>
    </table>
    
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addCondition()">Add condition</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-dialog-actions>
</mat-dialog-actions>