<div>      
  <div class="card-container">
    <div class="card card-small" tabindex="0" id="showNetMatrixButton" (click)="showNetMatrix()">
      <span class="material-icons">remove_red_eye</span> 
      <span class="button-text">Show Net Matrix</span>
    </div> 
  </div>

  <div class="card-container">
    <div class="card card-small" tabindex="0" id="minimizeNetButton" (click)="minimizeNet()">
      <span class="material-icons">transform</span> 
      <span class="button-text">Minimize Net</span>
    </div> 
  </div>

  <div class="card-container">
    <div class="card card-small" tabindex="0" id="unminimizeNetButton" (click)="backToUnminimizedNet()">
      <span class="material-icons">transform</span> 
      <span class="button-text">Back to Unminimize Net</span>
    </div> 
  </div>

  <div class="card-container">
    <div class="card card-small" tabindex="0" id="saveNetButton" (click)="saveNet()">
      <span class="material-icons">save</span> 
      <span class="button-text">Save Net</span>
    </div> 
  </div>
</div>

